@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Space Grotesk', sans-serif;
}
header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #764248;
    color: #F3E6E2;
    padding: 15px;
}
.navbar-brand{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.nombrelogo{
    color: #F3E6E2;
}

.navbar-nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
}
.navbar-nav li{
    margin: 10px;
}
video{
    width: 100%;
}
/*MAIN*****************/
main{
    background-color: #FFD6E2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container{
    display: flex;
    flex-direction: row;
    margin: 30px;
}

.pad{
    padding: 10px;
    text-align: justify;
}
.texto{
    display: flex;
    text-align: justify;
}
.carousel-inner div img{
    width: 35%;
    display: block;
    margin-left: auto;
    margin-right: auto
}
footer{
    background-color: #DDA3B2;
    text-align: center;
    height: 75px;
    padding: 20px;
    font-size: 30px;
}